.CartLink{
  position: relative;
  max-width: 200px;
  left: 110px;
}
.CartLink-total {
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: red;
  border-radius: 50%;
  padding: 2px 6px;
  float: right;
  text-decoration: none;
  position: absolute;
  left: 20px;
  top: -6px;
  
}
.CartLink img {
  height: 35px;
  width: 45px;

}
