.CartLink-total {
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: red;
  border-radius: 50%;
  padding: 2px 6px;
  float: right;
  text-decoration: none;
  position: absolute;
}
.Cart-pctr {
  position: relative;
  height: 35px;
  width: 35px;
  border-radius: 45%;
  float: left;
}
