.ProductList .Product {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px;
  background-color: white;
  padding-bottom: 20px;
  box-shadow: 6px 5px 6px rgb(5, 73, 116);
  cursor: pointer;
  /* transition: background-color 0.6s ease-in-out; */
}
.ProductList {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(rgba(230, 0, 255, 0.319), 
  rgba(0, 221, 255, 0.63)), url(https://i.pinimg.com/564x/d4/9f/38/d49f380e757b7f3231b1522664677af2.jpg);
  background-repeat:calc(100%);
  width: 100%;

}
.ProductList .Product img {
  width: 250px;
  height: 300px;
}
.Product_info{
  padding: 10px;
}
.AddRemove{
  display: flex;
  justify-content: space-between;
}
.AddRemove .DeleteProduct {
  width: 30px;
  margin-right: 30%;
}

/* .ProductList .Product:hover {
  transform: scale(0.9);
} */
.ProductList a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #7b3633;
  transition: 0.3s;
}
.ProductList a:hover {
  text-shadow: 0 0 2px #140707;
}
.Category {
  margin: 0;
  color: #7b3633;
}

