.ProductList .Product {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px;
  background-color: white;
  padding-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 6px 5px 6px rgb(5, 73, 116);
  cursor: pointer;
  transition: background-color 0.6s ease-in-out;

}
.ProductList{
  display: flex;
  flex-wrap: wrap;
  background-image: url(https://balthazar.club/uploads/posts/2023-01/1674301308_balthazar-club-p-krasivie-kartinki-estetika-prirodi-instagr-45.jpg);
  background-repeat: no-repeat;
}
.ProductList .Product img {
  width: 250px;
  height: 300px; 
}
.ProductList .Product:hover {
  transform: scale(0.9);
}
.Product Link{
  text-decoration: none;
}
.Category{
  margin: 0;
  background-color: rgb(230, 247, 226);
}