.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 5px #f2f2f2;
  padding: 10px;
  width: 100%;
  color: white;
  margin-bottom: 30px;
}

.slide h2 {
  font-size: 24px;
  margin: 20px;
  z-index: -10;
}

.slide p {
  font-size: 18px;
  margin-bottom: 25px;
}
.bg-frame {
  padding: 40px;
  box-shadow: 0 0 8px #7a7e7fee;
  z-index: -10;
}
.image-container img {
  width: 500px;
  height: 400px;
  margin-bottom: 20px;
}

.slide button {
  font-size: 15px;
  padding: 5px 10px;
  width: 70px;
  margin: 10px;
  color: #fff;
  border: none;
}

.image-container {
  animation: shrink var(--duration) var(--delay) linear infinite;
}

@keyframes shrink {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}

:root {
  --duration: 5s;
  --delay: 0s;
}
@media (max-width: 620px) {
  .bg-frame {
    padding: 20px;
    box-shadow: 0 0 8px #7a7e7fee;
    z-index: -10;
  }
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 5px #f2f2f2;
    padding: 10px;
    width: 100%;
    color: white;
    margin-bottom: 30px;
  }
  .image-container img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
  }
}
