.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 5px #f2f2f2;
  padding: 10px;
}
.slide{
  color: white;
  margin-bottom: 30px;
}
.slide h2 {
  font-size: 24px;
  margin: 20px;
}

.slide p {
  font-size: 18px;
  margin-bottom: 25px;
}
.bg-frame{
  padding: 40px;
  box-shadow: 0 0 8px #7a7e7fee;
}
.image-container img {
  width: 500px;
  height: 400px;
  margin-bottom: 20px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter button {
  font-size: 20px;
  padding: 5px 30px;
  margin: 10px;
  background-color: #00d5ff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.image-container {
  animation: shrink var(--duration) var(--delay) linear infinite;
}

@keyframes shrink {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}

:root {
  --duration: 4s;
  --delay: 0s;
}
