.OrderList{
  z-index: 1;
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  
}
.Order{
  box-shadow: 0 0 8px #7a7e7fee;
  margin: 8px;
  width: 30%;
  background-color: rgba(213, 210, 210, 0.649);
  color: black;
}