.Main_details {
  margin-top: 300px;
  display: flex;
  justify-content: space-around;
  color: white;
  height: 250px;
}
.Main_details li {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.Main_details .first-link {
  background-image: url(https://i.pinimg.com/564x/19/d6/4a/19d64a921d27cef179ffb1c1960c9257.jpg);
  background-size: contain;
}

.Main_details .second-link {
  background-image: url(https://i.pinimg.com/564x/f5/be/33/f5be3307a40868a80821729e9e5ae7cd.jpg);
  background-size: contain;
}

.Main_details .third-link {
  background-image: url(https://i.pinimg.com/236x/ed/03/79/ed0379a80af42778aae62c3d9beb2613.jpg);
  background-size: contain;
}

.Main_details .fourth-link {
  background-image: url(https://i.pinimg.com/736x/73/ba/0d/73ba0d454fda31d63d916596d2c2b928.jpg);
  background-size: contain;
}

.Main-details .back {
  box-shadow: 0 0 5px rgba(128, 128, 128, 0);
}

.back p {
  margin-top: 50px;
  width: 220px;
  box-shadow: 0 0 8px #7a7e7fee;
}

.back p a {
  color: white;
  text-decoration: none;
}

.Main_details li {
  list-style-type: none;
}

.Main-details li .back {
  width: 50px;
  height: 150px;
  cursor: pointer;
}
.dropdown-button{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.dropdown-button:hover{
  display: none;
}
