.Main_details{
  margin-top: 300px;
  display: flex;
  justify-content: space-around;
  color: white;
  height: 250px;
}
.Main_details li{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.Main_details .first-link {
  background-image: url(src/assets/contacts_icons/location.jpg);
  background-size: contain;
}
.Main_details .second-link {
  background-image: url(src/assets/contacts_icons/contacts.jpg);
  background-size: contain;

}
.Main_details .third-link {
  background-image: url(src/assets/contacts_icons/social_media.jpg);
  background-size: contain;
}
.Main_details .fourth-link {
  background-image: url(src/assets/contacts_icons/youTube.jpg);
  background-size: contain;
}
.Main-details .back   {
box-shadow: 0 0 5px rgba(128, 128, 128, 0.068);
}


.Main_details li{
  list-style-type: none;
}