.Main {
  background-color: rgba(235, 235, 235, 0.548);
  max-width: 300px;
  margin: 50px;
  text-align: center;
}
.Link a{
  color: wheat;
}
.Main h1{
  padding: 10px 0 12px;
}
.Main_details{
  margin-top: 350px;
  color: wheat;
}