/* .container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  float: right;
}

.container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 2em;
  z-index: 1;
} */
.Home{
  background-image: url(https://i.pinimg.com/564x/14/1b/c4/141bc4bb2c063bf0b3d9b96853c04949.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}