.Product{
  display: flex;
  margin: 80px;
}
.Product img{
  height: 250px;
}
.Product-text{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
}
.card_text{
  padding: 8px;
  line-height: 25px;
}
.Product-text{
  margin: 0px 20px;
}

.Product_description{
  background-color: white;
  width: 40%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  line-height: 30px;
}