.AddProduct {
  color: wheat;
  background-color: black;
  max-width: 400px;
  max-height: 300px;
  padding: 20px 30px;
}
.AddProduct label{
  color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 30px;
}
.AddProduct button {
  display: flex;
  background-color: aqua;
}