.AddProduct {
  margin: 50px auto;
  background-color: black;
  max-width: 400px;
  max-height: 300px;
  box-shadow: 0 0 8px #7a7e7fee;
}
.AddProduct label{
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}
.AddProduct form button {
  margin: 0 40%;
}
.AddProduct form{
  padding: 20px 10px;
  display: block;
  box-shadow: 0 0 8px #7a7e7fee;
  max-width: 220px;
  background-color: rgba(0, 0, 0, 0.679);
}
.AddProduct form input{
  margin-top: 5px;
}
.AddProduct h3{
  text-align: center;
  color: white;
}
