/* .CategoryList li {
  background-color: #c6f6f65a;
  padding: 10px 5px;
  list-style-type: none;
  font-size: 18px;
  border: 0.1px solid rgba(128, 128, 128, 0.323);
}
.CategoryList li:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.CategoryList li:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.CategoryList li a {
  text-decoration: none;
  color: #7b3633;
} */

.CategoryList ul{
  list-style-type:circle;
  margin: 10%;
}
.dropBtn {
  background-color: #c6f6f65a;
  color: rgb(90, 13, 13);
  padding: 5px ;
  margin-left: 15px;
  width: 110px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.dropBtn:hover {
  background-color: #c6f6f65a;
}
.CategoryList {
  position: relative;
  display: inline-block;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #c6f6f65a;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 0;
  border-radius: 5px;
  padding: 0;
}
.dropdownContent li a{
  list-style-type: none;
  color: black;
  padding: 6px;
  text-decoration: none;
  display: block;
}
.dropdownContent li {
  background-color:#c6f6f65a;
  list-style-type: none;
  max-width: 200px;
}
.CategoryList:hover .dropdownContent {
  display: block;
  margin: 5px;
  box-shadow: 0 0 20px black;
}
.dropdownContent li:hover {
  background-color:rgba(53, 53, 42, 0.259);
}
.dropdownContent li a:hover {
  transform: translateX(5px);
  transition: 200ms ease all;
  color:rgb(49, 33, 13) ;
}