.Nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 480px;
}
.Nav li {
  width: 25%;
}
.Nav a {
  color: tomato;
  margin: 40px 10px;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.Nav a:hover {
  text-shadow: 0 0 10px;
}
@media (max-width: 750px) {
  .Nav ul {
    flex-direction: column;
  }
  .Nav a {
    color: tomato;
    margin: 5px 10px;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
} 
