.Auth {
  margin-left: 25px;
  width: 80px;
}
/* button {
  transition: 0.3s ease;
} */
/* button:hover {
  transform: scale(1.2);
} */
.Login button {
  background-color: rgb(104, 213, 14);
  color: white;
  font-weight: bold;
}
.Logout button {
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.Login img{
  border-radius: 50%;
  z-index: 1;
  height: 50px;
}
.OrderLink{
  color: rgb(32, 4, 4);
  text-decoration: none;
  width: 230px;
}
.Login {
  width: 230px;
}
.OrderLink img{
  width: 70px;
  height: 70px;
}

